.button2{
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(46, 226, 82);
    box-shadow: 3px 7px ;
    font-weight: bold;
}
.button2:hover{
    background-color: rgb(54, 159, 54);
}
.button2:active{
    padding: 8px;
    box-shadow: 1px 5px;
    background-color: rgb(11, 146, 11);
}
